name: golangci-lint
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

permissions:
  contents: read

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v6
        with:
          go-version-file: .go-version

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: 2.9.0
          verify: false
          args: --config .golangci.yml --timeout 5m --verbose
